[defaults]
nocows = True
roles_path = ./roles:/etc/ansible/roles
inventory = inventory
become = true
stdout_callback = yaml
interpreter_python = /usr/bin/python3
[colors]
verbose = bright blue
#[ssh_connection]
#ssh_args = -o ProxyJump=root@10.0.0.28